<p id="notice"><%= notice %></p>

<img src="<%= @product.image %>" alt="">

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency @product.price %>
</p>


<%= link_to 'Back', products_path, class: 'btn' %>
