<h1>Your account.</h1>
<%= link_to "Edit your account information", edit_user_registration_path %>

<% if @orders.any? %>
<h4>Your past orders:</h4>
<table>
  <thead>
    <tr>
      <th>Order number</th>
      <th>Placed on</th>
      <th>Item quantity</th>
      <th>Cost</th>
    </tr>
  </thead>
  <% @orders.each do |order| %>
  <tr>
    <td><%= link_to order.id, order_path(order) %></td>
    <td><%= order.placed_on %></td>
    <td>quantity will go here</td>
    <td><%= order.total_price %></td>
  </tr>
  <% end %>

</table>
<% else %>
<h4>You haven't placed any orders yet! <%= link_to "Start shopping", products_path %></h4>
<% end %>
